<h1>ReachOut - Home</h1>
<p>Find me in app/views/reach_out/Home.html.erb</p>

<p> Welcome to Reachout Community. Please help the needy by donating whatever way you can. Help the poor, God will help you. </p>
<p> Also join us for discussions on current issues and any topics of your area of interest </p>
<p> If already a nember Login below or to sign up now <%= link_to "Click Here" , "/SignUp", :class => "signup_button round" %> </p>



