<h1>All users</h1>
<p>Find me in app/views/users/index.html.erb</p>



<%= will_paginate %>

<ul >
	<% @users.each do |user| %>
	<%= render user %>
	<% end %>
	</ul>
	
	<ul>
	<%= render @users %>
	
	<%= will_paginate %>
	